<included>
  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

  <!-- JLine use java util loggin, needs a reset so slf4j take back control -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
</included>